body {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

h1 {
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: xx-large;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

.container {
    position: relative;
}

.content_container {
    position: absolute;
    width: 680px;
    height: 1080px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}

header {
    width: 480px;
    height: 40px;
    margin-top: 100px;
    margin-left: 100px;
    /*background-color: lightgrey;*/
}

.top_bar {
    display: flex;
}

.logo_pineapple {
    margin-left: 11px;
    margin-bottom: 4px;
}

.nav {
    margin-left: auto;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-top: 18px;
    margin-right: 1px;

}

.menu a {
    margin-left: 30px;
    text-decoration: none;
    color: #6A707B;
}

section {
    width: 480px;
    height: 460px;
    margin-top: 238px;
    margin-left: 100px;
}

.title {
    margin-left: 40px;
    margin-bottom: 19px;
}


.text p {
    margin-left: 40px;
    color: #6A707B;
    line-height: 28px;
}

.input_email form {
    width: 663px;
    height: 70px;
    margin-top: 51px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #E3E3E4;
    border-left: 4px solid #4066A5;

}

.email {
    width: 576px;
    height: 100%;
    padding-left: 40px;
    box-sizing: border-box;
    border: none;
    font-family: Arial, serif;
    font-weight: 400;
    font-size: 16px;
}

.btn {
    margin-left: 15px;
    padding: 0;
    background: transparent;
    border: none;
}

.tos {
    margin-top: 53px;
    margin-left: 40px;
}

.tos_content {
    display: flex;
}

.check {
    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;
}

label {
    margin-left: 15px;
    margin-top: 4px;
    color: #6A707B;
}

hr {
    width: 400px;
    margin-top: 50px;
    margin-left: 40px;
    background: #E3E3E4;
}

.social_icon {
    margin-top: 50px;
    margin-left: 118px;
}

.social_icon_content {
    display: flex;
    justify-content: space-between;
    width: 244px;
    height: 46px;
}


.facebook_normal{
    width: 46px;
    height: 46px;
    background-image: url("../img/social_ic/social_ic_all/ic_facebook.svg");
    display: block;

}
/*на расмотрение домашнее задание*/
.facebook:hover{
    background-image: url("../img/social_ic/social_ic_all/ic_instagram.svg");
}


.image_desk {
    position: absolute;
    left: 680px;
    z-index: -1;
}

.image_mob {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        /*background-color: red;*/
        font-size: 14px;
    }

    .content_container {
        width: 375px;
        height: 812px;
    }

    header {
        /*display: none;*/
        position: absolute;
        width: 375px;
        height: 66px;
        margin: 0;
        padding: 0;
    }

    .top_bar {
        width: 375px;
        height: 66px;
        align-items: center;
    }

    .logo_union {
        margin-left: 20px;
    }

    .logo_pineapple {
        display: none;
    }

    .menu {
        margin: 0 21px 0 0;
        padding: 0;
    }

    .menu li a {
        margin: 0 0 0 21px;
        padding: 0;
    }

    section {
        position: absolute;
        z-index: 1;
        width: 335px;
        height: 371px;
        margin: 0;
        padding: 0;
        top: 254px;
        left: 20px;
        background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
    }

    .title {
        margin: 0;
    }

    .title h1 {
        font-size: 24px;
        margin: 32px 20px 0 20px;

    }

    div.input_email form {
        margin: 20px 20px 0 20px;
        padding-left: 15px;
        width: 295px;
        height: 60px;
    }

    .email {
        width: 225px;
        padding: 0;
    }

    div.text p {
        line-height: 26px;
        margin: 14px 20px 0 20px;
        padding: 0;
    }

    .btn {
        margin-left: 10px;
    }

    .tos {
        margin: 22px 20px;
    }

    .tos label {
        font-size: 16px;
    }

    hr {
        margin: 0 20px;
        padding: 0;
        width: 295px;
    }


    .social_icon {
        margin-top: 18px;
        margin-left: 53px;
    }

    .social_icon_content {
        width: 214px;
    }

    .image_desk {
        display: none;
    }

    .image_mob {
        display: block;
        position: absolute;
        top: 66px;
    }

}